/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/test/
**/test_results/

# rspec failure tracking
.rspec_status
rspec.html
.idea/
Gemfile.lock
.rubocop-https*
rubocop-results.xml
