/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/test/
**/test_results/
**/openstudio_style/
# Measure test outputs
**/tests/output/

# rspec failure tracking
.rspec_status
rspec.html
.idea/
Gemfile.lock
.rubocop-https*
rubocop-results.xml

# mac and rbenv stuff
.DS_Store
.ruby-version
